
certifi==2020.12.5
chardet==4.0.0
click==8.0.1
colorama==0.4.4
editdistance==0.5.3
Flask==2.0.1
Flask-PyMongo==2.3.0
idna==2.10
importlib-metadata==4.2.0
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
pymongo==3.11.4
requests==2.25.1
sentry-sdk==1.1.0
typing-extensions==3.10.0.0
urllib3==1.26.5
Werkzeug==2.0.1
zipp==3.4.1
coverage==5.5
html-testRunner==1.2.1
logz==0.15
MarkupSafe==2.0.1
xmlrunner==1.7.7
flask-cors==3.0.10
