.LogoAnimated {
    text-align: center;
}

.logo-spin {
    height: 20vmin;
    padding: 1em;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .logo-spin {
        animation: App-logo-spin infinite 10s linear;
    }
    .Letter {
        position: absolute;
    }
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}